{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Development!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>This is started on 09/09/2022</p>
            <p>updating : 10/09/2022 time:12:38-4:49 p.m</p>
            <p>updating : 10/09/2022 time: 9:46-10:00 p.m</p>
            <p>updating : 10/09/2022 time: 11:09p.m - 11:45 p.m </p>
            <p>updating : 11/09/2022 time: 9:00 a.m - 9:46 a.m </p>
            <p>updating : 11/09/2022 time: 9:45 -10:04 a.m</p>
            <p>udating : 11/09/2022 time: 9:30 p.m - 12:03 p.m</p>
            <p>updating : 12/09/2022 time: 6:45 a.m - 7:49 - 8:18 a.m</p>
            <p>updating 12:11 p.m - 12:15 p.m </p>
            <p>updating 6:27 p.m - 11:05 p.m </p>
            <p>updating 13/09/2022 8:07 a.m - 9:02 a.m</p>
            <p>updating 7:32 p.m - 10:07 p.m </p>
            <p>Updating 14/09/2023 6:54 a.m - 8:11 a.m</p>
            <p>Updating 14/09/2022 10:02 a.m - 11:28 a.m</p>
            <p></p>
        </div>
    </div>
</div>
{% endblock content %}
