{% extends 'app/base.html' %}
{% block content %}
{% load bootstrap3 %}
<div class="jumbotron">
  <div class="container">
  <h1>please login</h1>
  <form action="{% url 'app:login' %}" method="post">
    {% csrf_token %}
    <label for="username">username:</label>
    <input type="text" name="username" placeholder="user_name">
    <p></p>
    <label for="password">password:</label>
    <input type="password" name="password">
    <p></p>
    <input type="submit" name="" value="login">
  </form>
  </div>
</div>

{% endblock content %}