{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Menu</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Onions    =  20/-</p>
            <p>Patty     =  40/-</p>
            <p>Lettuce   =  20/-</p>
            <p>Tomato    =  20/-</p>
            <p>Cheese    =  10/-</p>
        </div>
    </div>
</div>
{% endblock content %}
