{% extends "app/base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <a href="{% static "app/thanks.html" %}"></a><h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Signup">
        </form>

      {% endif %}
  </div>

    </div>

  

{% endblock content %}
